* {
  box-sizing: border-box;
}
$moji: #ffffff;

.wrapper {
  display: flex;
  height: 100vh;
  .SideBar {
    background-color: #253141;
    width: 300px;
     &__UserName {
      background-color: #253141;
      height: 100px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      .TopItems {
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        &__icon {
          width: 60px;
          height: 20px;
          text-align: right;
          line-height: 20px;
          &--btn {
            color: $moji;
          }
        }
        .TopItems__name{
          width: 60px;
          height: 20px;
          line-height: 20px;
          color: $moji;
        }
      }}
    .SideBar__GroupList {
      background-color: #2f3e51;
      height: calc( 100vh - 100px );
      .SideBar_GroupTop {
        height: 100px;
        color: $moji;
        padding: 20px;
        font-weight: bold;
        .GroupName {
          height: 15px;
          width: 260px;
          font-size: 15px;
          line-height: 15px;
          margin-bottom: 5px;
          color: $moji;
        }
        .GroupMessage {
          height: 11px;
          width: 260px;
          font-size: 11px;
          line-height: 11px;
          color: $moji;
        }
      }
   }
}
  .ChatMain {
    background-color: $moji;
    height: 100vh;
    width: calc(100% - 300px);
  }
  .ChatMain__info {
    background-color: $moji;
    width: calc(100vw - 300px);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    .ChatMain_LeftBox{
      width: 300px;
      height: 100px;
      margin-top: 70px;
      .CurrentGroup{
        font-size: 20px;
        color: #333333;
      }
      .MemberList {
        font-size: 12px;
        color: #999999;
        margin-top: 17px;
        line-height: 12px;
        display: flex;
        &--name {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;

        }
      }
    }
    .EditBtn a{
      display: block;
      font-size: 16px;
      color: #38aef0;
      border: 1px solid;
      padding: 10px 20px;
      font-weight: bold;
    }
  }
  .ChatMain__message {
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 44px 40px;
    overflow: scroll;
    .MessageBox {
      width: 700px;
      padding-bottom: 40px;;
      .NameBox {
        height: 16px;
        color: #333333;
        line-height: 16px;
        font-weight: bold;
        .DateBox {
          width: 600px;
          font-size: 12px;
          color: #999999;
          line-height: 12px;
          float: right;
        }
  }
      .InputText {
        margin: 12px auto;
        font-size: 14px;
        color: #434a54;
      }
    }
  }
  .ChatMain__form {
    background-color: #d2d2d2;
    height: 90px;
    display: flex;
    align-items: center;
    overflow: scroll;
    .InputBox {
      height: 50px;
      width: 100vw;
      margin-left: 40px;
      margin-right: 15px;
      position: relative;
      &__text {
        font-size: 15px;
        height: 50px;
        width: 100%;
        padding: 0 15px;
        color: #434a54;
      }
      .InputBox__image {
          height: 23px;
          width: 22px;
          position: absolute;
          top: 15px;
          right: 15px;
           .input-box__image{
             cursor: pointer;
             .sentaku {
               display: none;
             }
           }
      }    
    }
    .SubmitBtn {
      background-color: #38aef0;
      height: 50px;
      width: 160px;
      margin-right: 40px;
      color: $moji;
      font-size: 15px;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
    }    
  }
}
a{
  text-decoration: none;
}
